.beer__tagline--expanded {
    margin: -1.5rem 0 1.5rem;

    color: hsl(0, 0%, 66%);

    font-size: 1em;
}

.beer__about {
    padding: 1rem;
}

.beer__image-container {
    min-width: 200px;
    padding: 1rem 0;

    align-self: center;
}

.beer__image {
    display: block;

    height: 300px;
    margin: auto;
}

.beer__buttons {
    margin-top: 1.5rem;
}

.beer__button {
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .beer--expanded {
        display: flex;
    }

    .beer__image--expanded {
        height: 200px;
    }
}