.beer-details {
    padding: 1rem 2rem 2rem;

    border-radius: 25px;
    background-color: hsl(180,26.3%,97%);
}
.beer-details__main-info,
.beer-details__brewing-tips {
    text-align: justify;
}

.beer-details__brewing-tips {
    max-width: 800px;
    margin-top: 4rem;
}

.beer-details__props-pairing,
.beer-details__ingredients-method {
    display: flex;
    flex-wrap: wrap;
}

.beer-details__props,
.beer-details__ingredients,
.beer-details__method,
.beer-details__pairing {
    margin-top: 1.2rem;
}

.beer-details__props,
.beer-details__ingredients {
    margin-right: 4rem;
}

@media (max-width: 769px) {
    .beer-details__props-pairing,
    .beer-details__ingredients-method {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .beer-details__props-pairing,
    .beer-details__ingredients-method {
        flex-direction: column;
    }

    .beer-details__props,
    .beer-details__ingredients {
        margin-right: 0;
    }
}