.signin-form {
    max-width: 600px;
    padding: 1rem 2rem;
    margin: auto;
}

.signin-form__button {
    color: hsl(240, 67%, 94%) !important;
    background-color: hsl(274.6,100%,25.5%) !important;
}

@media (max-width: 768px) {
    .signin-form {
        padding: 1rem 1rem;
    }
}
