input[type=range] {
    display: block;

    border: 1px solid hsl(0, 0%, 100%);

    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    display: block;

    height: 2px;

    border: none;
    border-radius: 3px;
    background: hsl(0,0%,94.1%);
}

input[type=range]::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    margin-top: -7px;

    border: none;
    border-radius: 50%;
    background: hsl(217, 71%, 53%);

    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: hsl(0,0%,94.1%);
}

input[type=range]::-moz-range-track {
    display: block;

    height: 2px;

    border: none;
    border-radius: 3px;
    background-color: hsl(0,0%,94.1%);
}

input[type="range"]::-moz-range-progress {
    background-color: hsl(217, 71%, 53%);
}

input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 16px;

    border: none;
    border-radius: 50%;
    background-color: hsl(217, 71%, 53%);
}

input[type=range]:-moz-focusring {
    outline: 1px solid hsl(0, 0%, 100%);
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    display: block;

    height: 2px;

    color: transparent;
    border-width: 3px 0;
    border-color: transparent;
    background: transparent;
}

input[type=range]::-ms-thumb {
    width: 16px;
    height: 16px;

    border: none;
    border-radius: 50%;
    background: hsl(217, 71%, 53%);
}

input[type=range]::-ms-fill-lower {
    border-radius: 10px;
    background: hsl(217, 71%, 53%);
}

input[type=range]::-ms-fill-upper {
    border-radius: 10px;
    background: hsl(0,0%,94.1%);
}

input[type=range]:focus::-ms-fill-lower {
    background: hsl(217, 71%, 53%);
}

input[type=range]:focus::-ms-fill-upper {
    background: hsl(0,0%,94.1%);
}