.settings-modal {
    display: flex;
    flex-direction: column;

    margin: 1rem;
    padding: 1rem;

    border-radius: 5px;
    background-color: hsl(240, 67%, 94%);
    box-shadow: 0 3px 20px hsl(0, 39%, 100%),
    0 -2px 2px hsl(240, 67%, 94%),
    0 0 0 1px hsl(240, 67%, 94%);

    align-items: center;
}
