.beer__tagline--expanded {
    margin: -1.5rem 0 1.5rem;

    color: #a9a9a9;

    font-size: 1em;
}

.beer__about {
    padding: 1rem;
}

.beer__image-container {
    min-width: 200px;
    padding: 1rem 0;
}

.beer__image {
    display: block;

    height: 300px;
    margin: auto;

    flex-shrink: 0;
}

.beer__buttons {
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
    .beer--expanded {
        display: flex;
    }

    .beer__image--expanded {
        height: 200px;
    }
}